{% extends "layouts/default.html" %}

{% block content %}
<div class="container-fluid mt-3">
	<div class="row">
		<div class="col-md-8 text-center">
			{% if stocks.length > 0 %}
			<canvas id="myChart" class="mb-3"></canvas>
			{% else %}
			<div class="mt-3 mb-3">
				<h3>No Active Stocks</h3>
				<p>No one has added a stock yet. Please add a stock from the stock picker.</p>
			</div>
			{% endif %}
		</div>
		<div class="col-md-4">
			<h3>Current Stocks</h3>

			<!-- CURRENT STOCKS -->
			<div id="currentStocks">
			{% for stock in stocks %}
			<div class="mb-1 remove-stock" data-id="{{ stock._id }}">
				<i class="fa fa-times fa-fw ml-1 mr-1 text-danger"></i>{{ stock.stockName }}
			</div>
			{% endfor %}
			</div>

			<hr>

			<h3>Add a Stock</h3>
			<form id="stockForm">
				<div class="form-group">
					<input id="stock" type="text" name="stock" value="" placeholder="Ex. GOOG" class="form-control">
				</div>
				<div class="form-group">
					<input type="submit" name="button" value="Add a Stock" class="btn btn-primary form-control">
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
$(document).ready(function(){
	var stocks = {{ stocks | dump | safe }};
	var socket = io.connect();
	var datasets = [];

	// Draw the initial chart
	if (stocks.length) {
		stocks.forEach(function(stock, index){
			datasets.push(addStockToChart(stock.stockName, createHex(), stock.data));
		});

		var ctx = document.getElementById('myChart').getContext('2d');
		var data = {
			labels: stocks[0].data.map(element => element.date),
			datasets: datasets
		};

		var myLineChart = new Chart(ctx, {
			type: 'line',
			data: data
		});
	}

	// Create a Random Hex Value
	function createHex() {
		return '#' + Math.floor(Math.random() * 16777215).toString(16);
	}

	// Add stocks to the dataset object
	function addStockToChart(name, color, stockData) {
		return {
			label: name,
			fill: false,
			lineTension: 0.1,
			backgroundColor: color,
			borderColor: color,
			borderCapStyle: 'butt',
			borderDash: [],
			borderDashOffset: 0.0,
			borderJoinStyle: 'miter',
			pointBorderColor: color,
			pointBackgroundColor: "#fff",
			pointBorderWidth: 1,
			pointHoverRadius: 5,
			pointHoverBackgroundColor: color,
			data: stockData.map(element => element.value)
		};
	}

	function removeStockFromChart(chartData, stockName) {
		for (var i = 0; i < chartData.length; i++) {
			if (chartData[i].label === stockName) {
				chartData.splice(i, 1);
				break;
			}
		}
	}

	// Update chart to reflect added stock
	socket.on('stock added', function(data) {
		if (datasets.length === 0) {
			return location.reload();
		}

		myLineChart.data.datasets.push(addStockToChart(data.stock.stockName, createHex(), data.stock.data));
		myLineChart.update();

		// Remove the stock from the stock list
		$('#currentStocks').append('<div class="mb-1 remove-stock" data-id="' + data.stock._id + '"><i class="fa fa-times fa-fw ml-1 mr-1 text-danger"></i>' + data.stock.stockName + '</div>')
	});

	// Update chart to reflect removed stock
	socket.on('stock removed', function(data) {
		removeStockFromChart(myLineChart.data.datasets, data.stock.stockName);
		myLineChart.update();
	});

	$('#stockForm').on('submit', function(e) {
		e.preventDefault();

		var stockName = $('#stock').val().toUpperCase();
		$('#stock').val('');

		$.ajax({
			method: "POST",
			url: "/stocks/" + stockName,
			data: {},
			dataType: 'json',
			success: function() {
				if (datasets.length > 0) {
					createNewAlert('success', stockName + ' was successfully added!');
				}
			},
			error: function(error) {
				var errorMessage;
                    if (error.responseJSON && error.responseJSON.message) {
                        errorMessage = error.responseJSON.message;
                    } else {
                        errorMessage = 'Something went wrong, please try again!';
                    }
				alert(errorMessage);
			}
		});
	});

	$('#currentStocks').on('click', '.remove-stock', function(e) {
		var id = $(this).data('id');
		var stockName = $('[data-id=' + id + ']').text().toUpperCase();
		$('#stock').val('');

	    $.ajax({
	        method: "DELETE",
	        url: "/stocks/" + id,
			data: {},
	        dataType: 'json',
			success: function() {
				createNewAlert('danger', stockName + ' was successfully removed!');
				$('[data-id=' + id + ']').remove();
			},
	        error: function(error) {
				var errorMessage;
                    if (error.responseJSON && error.responseJSON.message) {
                        errorMessage = error.responseJSON.message;
                    } else {
                        errorMessage = 'Something went wrong, please try again!';
                    }
				alert(errorMessage);
	        }
	    });
	});
});
</script>
{% endblock %}
